<!DOCTYPE html>
<html lang=" "en>
    <head>
        <meta charset = "UTF-8">
        <title>TODO</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>  
        <%- include('header.ejs') %>
        <table>
            <% for(var i = 0; i< allTodos.length; i++) {%>
                <tr>
                    <td>
                        <%= allTodos[i].title %>
                    </a>
                </td>
            </tr>
            <% } %>
        </table>
        <%- include('todos.ejs') %>
    </body>
</html>