<!DOCTYPE html>  
<html lang=" "en>
    <head>
        <meta charset = "UTF-8">
        <title>TODO</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <meta name = "csrf-token" content="<%= csrfToken %>" />
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.tailwindcss.com"></script>
        
    </head>
    <body> 
        <div class = "grid grid-cols-6">
            <div class = "col-start-3 col-span-2">  
                <%- include('header.ejs')%>
                <p class="py-2">Welcome to the Todo Manager!</p>
                <p class="py-2">New Here? <a href = "/signup" class="text-green-600">Sign-up Now</a></p>
                <p class="py-2">Already have an account? <a href = "/login" class="text-green-600">Login Now</a></p>
                <%- include ('footer.ejs') %>
            </div>
        </div> 
    </body>
</html>

