<!DOCTYPE html>  
<html lang=" "en>
    <head>
        <meta charset = "UTF-8">
        <title>TODO</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/styles.css">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body> 
        <div class = "grid grid-cols-6">
            <div class = "col-start-3 col-span-2">  
                <%- include('header.ejs') %>
                <form action= "todos.ejs" method= "post">
                    <div class="flex gap-2 py-4">
                        <div class = "flex-auto">
                            <input type = "text" name = "title" placeholder="What's next?" class= "border border-gray-500 rounded text-gray-900 p-2 w-full text-sm" required />
                        </div>
                        <div class = "flex-auto">
                            <input type = "date" name = "dueDate" class = "border border-gray-500 rounded text-gray-900 p-2 w-full text-sm leading-4"/>
                        </div>
                        <div class = "flex-none">
                            <button type = "submit" class = "px-5 py-1.5 rounded background-color: bg-green-600 text-white font-medium mr-2 mb-2">Add</button> 
                        </div>
                 </form>
         <%- include('todos.ejs', {title: "Overdue", data: Overdue}) %>
        <%- include('footer.ejs') %>
    </body>
</html>

