<!-- Display already created to-dos in the index page using a view template named todos.ejs with JavaScript using a <table> element. -->
<!-- <! --GIT COPILOT PLS WRITE THE CODE -->
<table> 
<% for(var i = 0; i< allTodos.length; i++) {%> 
        <tr>
            <td> 
                 <%= allTodos[i].title %> 
             </a> 
         </td> 
     </tr> 
     <% } %> 
 </table>
